@import "bootstrap.min";
@import "bootstrap-vue.min";

@import "theme";

//ListingDetails.html

.header {
	&__carousel {
		background: #ababab;
		text-shadow: 1px 1px 2px #333;
		max-width: 1000px;
		position: relative;
		margin: auto;

		&__image {
			max-width: 100%;
			max-height: auto;
			background-color: #fff;
		}
	}

	&__subheader {
		font-style: italic;

		&__link {
			font-style: normal;
		}
	}
}

.listing {
	padding-left: 30px;
	padding-right: 30px;

	&__details {
		margin-bottom: 20px;

		&__table {
			overflow-x: hidden;

			&__title {
				padding: 20px 15px !important;
				text-transform: uppercase;
				border: 0 !important;
				text-align: center;
				background-color: $primary-colour;
			}
		}

		&__cell {
			$border-width: 4px;
			border-right: $border-width solid $primary-colour;
			border-left: $border-width solid $primary-colour;
			text-align: center;

			&__header {
				text-transform: uppercase !important;
			}

			&--close {
				border-bottom: 3px solid $primary-colour !important;
			}
		}
	}

	&__form {
		&__subheader {
			padding: 3px;
			border-bottom: 3px solid $primary-colour;
		}

		&__desc {
			margin: 3px;
		}
		&__floorplan {
			max-width: 448;
			position: relative;
			margin: auto;

			&__image {
				display: block;
				max-width: 100%;
				max-height: auto;
			}
		}

		&__submit{
			text-align: center;
		}
	}
}

// listings.html

.search {
	border: none;
	background: #eee;
	padding: 4px;
	margin: 3px;

	&__address {
		display: flex;
		justify-content: center;
		padding-left: 5px;
		padding-right: 5px;

		&__input {
			width: 100%;
			margin-bottom: auto;
			margin-top: 20px;
			height: 50px;
			background-color: #fff;
			padding: 10px;
			border-radius: 5px;
		}
	}

	&__inputs{
		padding: 3px;
		display: flex;
		align-items: center;


	}

	&__submit{
		margin-top: 4px;
		padding: 4px;
		margin-bottom: 5px;
	}
	&__button {
		font-weight: bold;
		letter-spacing: 2px;
		padding: 13px 17px;
		border: none;
		border-radius: 2px;
		transition: color .2s linear;

		
	}
}

$col-spacing: 5px;
.listingresults {
	overflow: auto;

	&__pagination {
		text-align: center !important;
	}

	&__card {
		margin-bottom: 3px !important;

		&__overlay {
			position: absolute;
			bottom: 0;
			background: rgba(255, 255, 255, 0); /* Black see-through */
			color: #f1f1f1;
			width: 100%;
			transition: 0.5s ease;
			opacity: 0;
			color: white;
			// font-size: 20px;
			padding: 15px;
			text-align: right;

			&__link {
				$button-colour: #394da7;
				color: $button-colour;
				transition: 0.25s;
				border: 2px solid;
				line-height: 1;
				padding: 10px;
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: inherit;
					color: #fff;
					background: adjust-hue($button-colour, 45deg);
					border-color: adjust-hue($button-colour, 45deg);
				}
			}
		}
	}
}

.listingresults__card:hover .listingresults__card__overlay {
	opacity: 1;
}

.map{
	max-height: 600px;
}

// bookings.html

#row {
	margin-bottom: 20px;
}
#title {
	text-align: center; margin-bottom: 30px;
}
#moveTitle {
	opacity: 0;
}
#move {
	/* max-height: 20rem; */
	height: auto;
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
}
#cancel {
	float: right;
	background-color: rgb(220, 53, 69);
	border: none;
}
#noBookText {
	text-align: center;
	opacity: 0;
}

.bookings{
	overflow: hidden;
	// max-width: 562px;

	&__cancel{
		justify-content: center;
		padding-bottom: 50px;
	}
}

@media only screen and (min-width: 992px) {
	.bookings{
		min-width: 962px;
	}
  } 
