<!doctype html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="vue.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

	<link type="text/css" rel="stylesheet" href="scss/custom.css" />

	<!-- Load Vue followed by BootstrapVue -->
	<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

	<!-- Load the following for BootstrapVueIcons support -->
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

	<!-- Firebase Source Files-->
	<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
	<!-- <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script> -->
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
	<!-- <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script> -->

	<!-- <script defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc&callback=initMap">
	</script> -->

	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css"/>

	<script>
		// Initialize Firebase
		var firebaseConfig = {
			apiKey: "AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc",
			authDomain: "just-clover-301402.firebaseapp.com",
			databaseURL:
				"https://just-clover-301402-default-rtdb.firebaseio.com",
			projectId: "just-clover-301402",
			storageBucket: "just-clover-301402.appspot.com",
			messagingSenderId: "999591178620",
			appId: "1:999591178620:web:5ed2ca489e1fee2836b4f9",
			measurementId: "G-4M8XE224JF",
		}
		firebase.initializeApp(firebaseConfig);
			// firebase.analytics();
	</script>

</head>

<body>
	<div id='app'>
		<!-- --------------------NAVBAR------------------------- -->
		<div>
			<b-navbar toggleable="lg" type="light" variant="faded">
				<b-navbar-brand href="index.html">
					<b-img src="images\app\logo.JPG" height="70px" width="70px"></b-img> Huddle
				</b-navbar-brand>

				<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

				<b-collapse id="nav-collapse" is-nav>
					<b-navbar-nav>
					</b-navbar-nav>

					<!-- Right aligned nav items -->
					<b-navbar-nav class="ml-auto">
						<b-nav-item href="index.html" active>Find a Space</b-nav-item>
						<b-nav-item href="bookings.html">My Bookings</b-nav-item>
						<!-- <b-nav-form>
                        <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                      </b-nav-form> -->


						<b-nav-item-dropdown right>
							<!-- Using 'button-content' slot -->
							<template #button-content>
								<em>User</em>
							</template>
							<b-dropdown-item href="#">Profile</b-dropdown-item>
							<b-dropdown-item href="#">Sign Out</b-dropdown-item>
						</b-nav-item-dropdown>
					</b-navbar-nav>
				</b-collapse>
			</b-navbar>
		</div>

		<!-------------------- SEARCH BAR-------------- -->
		<div class="container">
			<b-jumbotron lead="Start searching for spaces with Huddle.">
				<!-- <b-button variant="primary" href="#">Start</b-button> -->
				<b-form inline>
					<label class="sr-only" for="inline-form-input-name">Name</label>
					<b-form-input
					  id="inline-form-input-name"
					  class="mb-2 mr-sm-2 mb-sm-0"
					  placeholder="e.g. 12 Victoria Rd"
					></b-form-input>
									
					<b-form-select class="mb-2 mr-sm-2 mb-sm-0" v-model="selected" :options="listing_type"></b-form-select>
					<b-form-datepicker v-model="selectedStartDate" placeholder="Start Date"	class="mb-2 mr-sm-2 mb-sm-0"></b-form-datepicker>
					<b-form-datepicker v-model="selectedEndDate" class="mb-2 mr-sm-2 mb-sm-0" placeholder="End Date"	></b-form-datepicker>
					<b-button variant="primary" v-on:click="searchListings">Go</b-button>
				  </b-form>
			  </b-jumbotron>
		  </div>

		  <!-- --------------------Listing and Map Main Body------------ -->
		<div class="container">
			<div class="row">
				<div class="col" >
					<listings 
						v-for="listing in listings" 
						v-bind:listing="listing"
						v-bind:images="'./images/listing/' + listing.images[0]" 
					>
					</listings>
				</div>
				<div class="col">
					<div id="map">
						<script>
							console.log(vm.data.listings);
						</script>
						<mapping></mapping>
					</div>
				</div>
			</div>
		</div>
		
	</div>


	<script>
		Vue.component("mapping", {
			template: `
			var map = new L.Map("map", {
				zoom: 15,
				layers: new L.TileLayer(
					"https://tile.openstreetmap.org/{z}/{x}/{y}.png"
				),
			});
			console.log(this.listings);
			for (listing in this.listings){
				var lat = listing.lat;
				var long = listing.long;
				var coordinatesMarker = new L.Marker(lat, long);
				var popupName = listing.name;
				coordinatesMarker.bindPopup(popupName);
				map.addLayer(coordinatesMarker);
			}
			`
		})

		Vue.component('listings', {
			props: ['listing', 'images'],
			template: `
			<div>
				<b-card no-body bg-variant="light" class="overflow-hidden mb-2" style="max-width: 540px;">
					<b-row no-gutters>
						<b-col md="6">
							<b-card-img v-bind:src="images" fluid alt="Image" height="200px" class="rounded-0">
							</b-card-img>
						</b-col>
						<b-col md="6">
							<b-card-body v-bind:title="listing.name">
							
								<b-card-text>
									<b>Workspace Type: </b>{{listing.type}} <br> 
									<b>Maximum Capacity: </b>{{listing.capacity}} <br> 
									<b>Area: </b>{{listing.area}} <br>
									<b>Address: </b>{{listing.address}} #{{listing.unit}} Singapore {{listing.postal}} <br>
								</b-card-text>
							</b-card-body>
						</b-col>
					</b-row>
				</b-card>
			</div>`
		});

		Vue.component('im', {
			props: [''],
			template: `
			<div>
				<b-img src="https://picsum.photos/1024/400/?image=41" fluid alt="Responsive image"></b-img>
			</div>`
		})
	</script>

	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				btngrpMargin: false,
				btngrpNoMargin: true,
				listings: null,
				type: null,
				selected: '*',
				selectedStartDate: "",
				selectedEndDate: "",
				listing_type: [
					{ value: "*", text: 'All Workspace Types' },
					{ value: "Single", text: 'Single' },
					{ value: 'Group', text: 'Group' },
					{ value: 'Corporate Function', text: 'Corporate Function' },
				]
			},
			created: function () {
				this.listings = "";

				var listings = firebase.database().ref("listing/");
				allListings = "";
				listings.on("value", (snapshot) => {
					allListings = snapshot.val();
					this.listings = allListings;
					this.loaded = true;
				});
			},
			methods: {
				getAllListings: function () {
					var listings = firebase.database().ref("listing/");
					allListings = "";
					listings.on("value", (snapshot) => {
						allListings = snapshot.val();
					});
					return allListings;
				},
				displayListings: function () {
					var allListings = this.getAllListings();
					this.listings = allListings;
				},
				searchListings: function (){
					var allListings = this.getAllListings();
					var foundListing = [];
					for (listingNum in allListings){
						var selectedStart = Date.parse(this.selectedStartDate);
						var listingStart = Date.parse(allListings[listingNum].start);
						var selectedEnd = Date.parse(this.selectedEndDate);
						var listingEnd = Date.parse(allListings[listingNum].end);
						// console.log(selectedStart < listingStart && listingEnd > selectedEnd);
						if (listingStart < selectedStart && listingEnd > selectedEnd){
							foundListing.push(allListings[listingNum]);
						}
					}
					this.listings = foundListing;
				},
				// displayMap: function (){
				// 	var mapCenter = new L.LatLng(1.448344420992953, 103.78570071438713);
				// 	var map = new L.Map("map", {
				// 		center: mapCenter,
				// 		zoom: 16,
				// 		layers: new L.TileLayer(
				// 			"https://tile.openstreetmap.org/{z}/{x}/{y}.png"
				// 		),
				// 	});
					
				// 	var coordinatesMarker = new L.Marker(mapCenter);
				// 	var popupName = "Testing Center";
				// 	coordinatesMarker.bindPopup(popupName);
				// 	map.addLayer(coordinatesMarker);
				// 	map.invalidateSize();
				// }
			},
		})

	</script>

	<script type="text/javascript">
		var mapCenter = new L.LatLng(1.4363507101204407, 103.7859041820477);
		var allListings = vm.data.listings;
		console.log(allListings);
		var map = new L.Map("map", {
			center: mapCenter,
			zoom: 16,
			layers: new L.TileLayer(
				"https://tile.openstreetmap.org/{z}/{x}/{y}.png"
			),
		});
		var coordinatesMarker = new L.Marker(mapCenter);
		var popupName = "Testing Center";
		coordinatesMarker.bindPopup(popupName);
		map.addLayer(coordinatesMarker);
		// console.log(this.listings);
		// for (listing in this.listings){
		// 	var lat = listing.lat;
		// 	var long = listing.long;
		// 	console.log(lat + " " + long);
		// 	var listingCoordinates = new L.LatLng(lat, long);
		// 	var coordinatesMarker = new L.Marker(listingCoordinates);
		// 	var popupName = listing.name;
		// 	coordinatesMarker.bindPopup(popupName);
		// 	map.addLayer(coordinatesMarker);
		// }
		map.invalidateSize(); 
	</script>


	<style lang="scss">
		/* .btngrp--margin {
            margin-left: 200px;
        }

        .btngrp--nomargin {
            margin-left: 0px;
        } */
		.navbar-toggle-color {
			background-color: grey;
		}
		#map {
			height: 400px;
			width: 100%
		}
	</style>

</body>

</html>