<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script type="text/javascript" src="vue.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

        <link type="text/css" rel="stylesheet" href="scss/custom.css" />

        <!-- Load Vue followed by BootstrapVue -->
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <!-- Load the following for BootstrapVueIcons support -->
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

        <!-- Firebase Source Files-->
        <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
        <!-- <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script> -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
        <!-- <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script> -->
        <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>
        <script src="https://unpkg.com/image-map/dist/image-map.js"></script>


        <script>
            ImageMap('img[usemap]')
            // Initialize Firebase
            var firebaseConfig = {
				apiKey: "AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc",
				authDomain: "just-clover-301402.firebaseapp.com",
				databaseURL:
					"https://just-clover-301402-default-rtdb.firebaseio.com",
				projectId: "just-clover-301402",
				storageBucket: "just-clover-301402.appspot.com",
				messagingSenderId: "999591178620",
				appId: "1:999591178620:web:5ed2ca489e1fee2836b4f9",
				measurementId: "G-4M8XE224JF",
			}
            firebase.initializeApp(firebaseConfig);
			// firebase.analytics();
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    </head>

    <body>
        <div id='app'>
            <huddlenavbar></huddlenavbar>
    
            <b-container>
                <b-carousel
                id="carousel-1"
                v-model="slide"
                :interval="4000"
                controls
                indicators
                background="#ababab"
                img-width="1024"
                img-height="480"
                style="text-shadow: 1px 1px 2px #333;"
                >

                <carou-slide v-for="image in images" v-bind:image="image" ></carou-slide>


                </b-carousel>

                <b-row>
                    <b-col class="text-center">
                        <h2 class="mx-auto">{{name}}</h2>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="text-center">
                        <h6>{{address}} <a :href="'https://www.google.com/maps/search/?api=1&query='+encoded">(View in maps)</a></h6>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col sm="12" md="6" lg="6">
                        <div>
                            <b-table-simple hover small caption-top responsive>
                              <b-thead head-variant="dark">
                                <b-tr>
                                  <b-th colspan='2'>Listing Details</b-th>
                                </b-tr>
                              </b-thead>
                              <b-tbody>
                                <b-tr>
                                  <b-th>Area</b-th>
                                  <b-td>{{area}}</b-td>
                                </b-tr>
                                <b-tr>
                                  <b-th>Type</b-th>
                                  <b-td>{{type}}</b-td>
                                </b-tr>
                                <b-tr>
                                  <b-th>Capacity</b-th>
                                  <b-td>{{capacity}}</b-td>
                                </b-tr>
                                <b-tr>
                                    <b-th>Price per day</b-th>
                                    <b-td>{{price}}</b-td>
                                </b-tr>
                              </b-tbody>
                            </b-table-simple>
                        </div>

                        <radar v-if="loaded" v-bind:data="reviewData"></radar>
                    </b-col>

                    <b-col sm="12" md="6" lg="6">
                        <b-form @reset="onReset" @submit="onSubmit">
                            <b-card         
                            header="Make a booking"
                            header-bg-variant="dark"
                            header-text-variant="white">
                                Preferred Space: {{form.area}} <br>
                                <small>Please select a space on the map to book it.</small> <br>
                                <small>If no space is chosen, you will be assigned to one upon arrival.</small>

                                <floorplan v-bind:srcimg="srcimg"  @update-space="onClickChild"></floorplan>

                                <b-form-group id="input-group-1" label="Start Date:" label-for="datepicker">
                                    <b-form-datepicker
                                        dropdown
                                        id="datepicker-invalid"
                                        v-model="form.start_date"
                                        class="mb-2"
                                        :min="min"
                                        :state="validDateStart"
                                        placeholder="Choose a date"
                                        @input="hideAll"
                                    ></b-form-datepicker>
                                </b-form-group>
                                <b-form-group id="input-group-2" label="End Date:" label-for="datepicker">
                                    <b-form-datepicker
                                        dropdown
                                        id="datepicker-invalid2"
                                        v-model="form.end_date"
                                        class="mb-2"
                                        :min="min"
                                        :state="validDateEnd"
                                        placeholder="Choose a date"
                                        @input="hideAll"
                                    ></b-form-datepicker>
                                </b-form-group>
                                <b-form-group>
                                    <b-form-checkbox
                                        id="checkbox-1"
                                        v-model="form.is_recurring"
                                        name="checkbox-1"
                                    >
                                        Recurring Booking
                                    </b-form-checkbox>
                                </b-form-group>
                                <div v-if="form.is_recurring">
                                    <b-form-group>
                                        <b-form-select v-model="form.recurring_days" :options="options" multiple></b-form-select>
                                    </b-form-group>
                                </div>
                                <small>Final price will be calculated at checkout</small>
                            </b-card>
                            <br>
                            <b-form-row class="text-center">
                                <b-col>
                                    <b-button type="reset" variant="secondary">Clear</b-button>
                                </b-col>
                                <b-col>
                                    <b-button type="submit" variant="primary">Submit</b-button>
                                </b-col>
                            </b-form-row>
                          </b-form>

                    <b-col>
                </b-row>
            </b-container>
        </div>
    
    
    <script src="navbar.js"></script>
    <script>
        Vue.component('radar', {
            extends: VueChartJs.Radar,
            props: ['data'],
            mounted () {
                this.renderChart(this.data, 
                {
                    responsive: true, 
                    maintainAspectRatio: false,
                    scale: {
                        angleLines: {
                            display: false
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }
                }
                )
            }
            
        })

        Vue.component('carou-slide', {
            props: ['image'],
            template: `<b-carousel-slide
                        :img-src="'./images/listing/'+image"
                        ></b-carousel-slide>`
        })

        Vue.component('floorplan', {
            props: ['srcimg'],
            data: function (){
                return {
                    area: "None Chosen"
                }
            },
            mounted: function () {
                ImageMap('img[usemap]', 100);
            },
            template: `
            <div>
                <img :src="srcimg" usemap="#image-map" @click="selectRegion(null)">
                <map name="image-map">
                    <area alt="conf" title="conf" coords="12,12,108,179" shape="rect" @click="selectRegion('conf')">
                    <area alt="office1" title="office1" coords="114,14,190,68" shape="rect" @click="selectRegion('office1')">
                    <area alt="office2" title="office2" coords="195,14,274,68" shape="rect" @click="selectRegion('office2')">
                    <area alt="office3" title="office3" coords="278,14,352,69" shape="rect" @click="selectRegion('office3')">
                    <area alt="pod1" title="pod1" coords="156,129,200,159" shape="rect" @click="selectRegion('pod1')">
                    <area alt="pod2" title="pod2" coords="203,128,245,159" shape="rect" @click="selectRegion('pod2')">
                    <area alt="pod3" title="pod3" coords="157,164,200,195" shape="rect" @click="selectRegion('pod3')">
                    <area alt="pod4" title="pod4" coords="204,163,245,195" shape="rect" @click="selectRegion('pod4')">
                    <area alt="pod5" title="pod5" coords="265,130,308,159" shape="rect" @click="selectRegion('pod5')">
                    <area alt="pod6" title="pod6" coords="312,130,353,159" shape="rect" @click="selectRegion('pod6')">
                    <area alt="pod7" title="pod7" coords="265,164,308,194" shape="rect" @click="selectRegion('pod7')">
                    <area alt="pod8" title="pod8" coords="311,164,353,195" shape="rect" @click="selectRegion('pod8')">
                    <area alt="pod9" title="pod9" coords="373,130,416,160" shape="rect" @click="selectRegion('pod9')">
                    <area alt="pod10" title="pod10" coords="420,131,460,159" shape="rect" @click="selectRegion('pod10')">
                    <area alt="pod11" title="pod11" coords="374,164,415,194" shape="rect" @click="selectRegion('pod11')">
                    <area alt="pod12" title="pod12" coords="419,164,461,194" shape="rect" @click="selectRegion('pod12')">
                    <area alt="pod13" title="pod13" coords="266,222,308,252" shape="rect" @click="selectRegion('pod13')">
                    <area alt="pod14" title="pod14" coords="311,221,353,252" shape="rect" @click="selectRegion('pod14')">
                    <area alt="pod15" title="pod15" coords="266,257,308,287" shape="rect" @click="selectRegion('pod15')">
                    <area alt="pod16" title="pod16" coords="312,255,353,287" shape="rect" @click="selectRegion('pod16')">
                </map>
            </div>
            `,
            methods: {
                selectRegion(space) {
                    if (space == null) {
                        this.srcimg = "images/listings/1001.png";
                        this.area = "None Chosen";

                    } else {
                        this.srcimg = "images/listings/1001-" + space + ".png";
                        if (space == "conf") {
                            this.area = "Conference Room";
                        } else if (space.indexOf("office") != -1) {
                            this.area = "Office " + space.substring(6);
                        } else {
                            this.area = "Pod " + space.substring(3);
                        }
                    }

                    this.$emit('update-space', this.area, this.srcimg);

                },
            }
        }
        )

    </script>
    <script>

    var vm = new Vue ({
        el: '#app',
        data: {
            min: '',
            loaded: false,
            slide: 0,
            listing_id: '',
            options: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            reviewData: {
                labels: ['Ambience', 'Amenities', 'Comfort', 'Location', 'Price', 'Service'],
                datasets: [
                    {
                        label: "Listing Review",
                        data: [70, 79, 80, 60, 70, 65],
                        backgroundColor: "rgba(127,199,255,0.2)",
                        borderColor: "rgba(127,199,255,1)",
                        pointBackgroundColor: "rgba(127,199,255,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(127,199,255,1)"
                    },
                    {
                        label: "Average Reviews",
                        data: [40, 60, 70, 50, 40, 50],
                        backgroundColor: "rgba(255,99,132,0.2)",
                        borderColor: "rgba(255,99,132,1)",
                        pointBackgroundColor: "rgba(255,99,132,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(255,99,132,1)"
                        
                    }
                ]
            },
            name: '',
            address: '',
            area: '',
            capacity: '',
            type: '',
            price: '',
            encoded: '',
            images: ['1000/image1.png'],
            validDateStart: null,
            validDateEnd: null,
            form: {
                start_date: '',
                end_date: '',
                is_recurring: '',
                recurring_days: '',
                area: "None Chosen"
            },
            srcimg: "images/listings/1001.png"
        },
        created: function() {
            const now = new Date();
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            const minDate = new Date(today);
            minDate.setDate(minDate.getDate() + 1);
            this.min = minDate;

            let urlParams = new URLSearchParams(window.location.search);
            let listing = urlParams.get('listing');
            this.listing_id = listing;
            this.displayListingDetails(listing);

        },
        computed: {
            loading: function() {
                return loaded;
            }
        },
        methods: {
            onClickChild: function(space, imageurl) {
                this.form.area = space;
                this.srcimg = imageurl;


            },
            displayListingDetails: function(id) {
                var listing = firebase.database().ref("listing/"+id);
                listing.on("value", (snapshot) => {
                    if (snapshot.val() != null) {
                        details = snapshot.val();

                        this.name = details.name;
                        this.images = details.images;
                        this.address = details.address + " " + details.postal + " #" + details.unit;
                        this.encoded = encodeURIComponent(details.address + details.postal);
                        this.area = details.area;
                        this.capacity = details.capacity;
                        this.type = details.type;
                        
                        this.price = details.price;
                        let reviews = details.reviews;
                        this.reviewData.datasets[0].data = [details.reviews.ambience, details.reviews.amenities, 
                                                            details.reviews.comfort, details.reviews.location,
                                                            details.reviews.price, details.reviews.service];


                        this.loaded = true;
                    }

                });
            },
            hideAll() {
                if (this.form.start_date != "") {
                    this.validDateStart = null;
                }
                if (this.form.end_date != "") {
                    this.validDateEnd = null;
                }
            },
            checkInvalid() {
                if (this.form.start_date == "") {
                    this.validDateStart = false;
                }
                if (this.form.end_date == "") {
                    this.validDateEnd = false;
                }
                if (this.form.start_date > this.form.end_date) {
                    this.validDateEnd = false;
                }
            },
            onReset(event) {
                event.preventDefault();
                this.form.start_date = "";
                this.form.end_date = "";
                this.show = false;
                this.$nextTick(() => {
                    this.show = true;
                });
            },
            onSubmit(event) {
                event.preventDefault();
                this.checkInvalid();

                let submittedForm = this.form;

                let recurring = "";
                if (!submittedForm.is_recurring) {
                    submittedForm.recurring_days = "";
                } else {
                    recurring = submittedForm.recurring_days.join(",");
                }

                form_details = "listing_id=" + this.listing_id + "&start_date=" + submittedForm.start_date 
                    + "&end_date=" + submittedForm.end_date + "&is_recurring=" + submittedForm.is_recurring 
                    + "&recurring_days=" + recurring + "&space=" + submittedForm.area;

                location.href = 'payment.html?' + form_details;
            },
        },

    })

    </script>

    <style lang="scss">
        #carousel-1 {
            width: 70%;
            height: auto;
            margin: auto;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

    </style>

    </body>
</html>