<!doctype html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="vue.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

	<link type="text/css" rel="stylesheet" href="scss/custom.css" />

	<!-- Load Vue followed by BootstrapVue -->
	<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

	<!-- Load the following for BootstrapVueIcons support -->
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

	<!-- Firebase Source Files-->
	<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
	<!-- <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script> -->
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
	<!-- <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script> -->

	<!-- <script defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc&callback=initMap">
	</script> -->

	<link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
	<script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
	<script src="//unpkg.com/vue2-leaflet"></script>

	<script>
		// Initialize Firebase
		var firebaseConfig = {
			apiKey: "AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc",
			authDomain: "just-clover-301402.firebaseapp.com",
			databaseURL:
				"https://just-clover-301402-default-rtdb.firebaseio.com",
			projectId: "just-clover-301402",
			storageBucket: "just-clover-301402.appspot.com",
			messagingSenderId: "999591178620",
			appId: "1:999591178620:web:5ed2ca489e1fee2836b4f9",
			measurementId: "G-4M8XE224JF",
		}
		firebase.initializeApp(firebaseConfig);
			// firebase.analytics();
	</script>

</head>

<body>
	<div id='app'>
		<huddlenavbar></huddlenavbar>

		<!-------------------- SEARCH BAR-------------- -->
		<div class="container">
			<b-jumbotron lead="Start searching for spaces with Huddle.">
				<!-- <b-button variant="primary" href="#">Start</b-button> -->
				<b-form inline>
					<label class="sr-only" for="inline-form-input-name">Name</label>
					<b-form-input
					  id="inline-form-input-name"
					  class="mb-2 mr-sm-2 mb-sm-0"
					  placeholder="e.g. 12 Victoria Rd"
					  v-model="address"
					></b-form-input>
									
					<b-form-select class="mb-2 mr-sm-2 mb-sm-0" v-model="selected" :options="listing_type"></b-form-select>
					<b-form-datepicker v-model="selectedStartDate" placeholder="Choose a Start Date"	class="mb-2 mr-sm-2 mb-sm-0"></b-form-datepicker>
					<b-form-datepicker v-model="selectedEndDate" class="mb-2 mr-sm-2 mb-sm-0" placeholder="Choose an End Date"	></b-form-datepicker>
					<b-button pill class="mr-1" variant="success" v-on:click="searchListings">Go</b-button>
					<b-button pill class="mr-1" variant="danger" v-on:click="clearFilter">Clear</b-button>
				  </b-form>
			  </b-jumbotron>
		  </div>

		  <!-- --------------------Listing and Map Main Body------------ -->
		<div class="container">
			<div class="row">
				<div class="col" >
					<listings 
						v-for="listing in listings" 
						v-bind:listing="listing"
						v-bind:images="'./images/listing/' + listing.images[0]" 
						v-bind:url="'listingdetails.html?listing=' + listing.number"
					>
					</listings>
				</div>
				<div class="col">
					<div v-if="loaded" id="map">
						<l-map :zoom="zoom" :center="mapcenter" >
							<l-tile-layer :url="mapUrl" :attribution="attribution"/>
							<l-marker v-for="marker in markers" v-bind:lat-lng="displayMarker(marker)"></l-marker>
							<!-- <l-marker v-bind:lat-lng="[1.3521, 103.8198]"></l-marker> -->
						</l-map>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<script src="navbar.js"></script>
	<script>
		// Vue.component('l-map', window.Vue2Leaflet.LMap);
		// Vue.component('l-tile-layer', window.Vue2Leaflet.LTileLayer);

		// Vue.component("mapping", {
		// 	template: `
		// 	var map = new L.Map("map", {
		// 		zoom: 15,
		// 		layers: new L.TileLayer(
		// 			"https://tile.openstreetmap.org/{z}/{x}/{y}.png"
		// 		),
		// 	});
		// 	console.log(this.listings);
		// 	for (listing in this.listings){
		// 		var lat = listing.lat;
		// 		var long = listing.long;
		// 		var coordinatesMarker = new L.Marker(lat, long);
		// 		var popupName = listing.name;
		// 		coordinatesMarker.bindPopup(popupName);
		// 		map.addLayer(coordinatesMarker);
		// 	}
		// 	`
		// })

		Vue.component('listings', {
			props: ['listing', 'images', 'url'],
			template: `
			<div>
				<b-card no-body bg-variant="light" class="overflow-hidden mb-2" style="max-width: 540px;">
					<b-row no-gutters>
						<b-col md="6">
							<b-card-img v-bind:src="images" fluid alt="Image" height="200px" class="rounded-0">
							</b-card-img>
						</b-col>
						<b-col md="6">
							<b-card-body v-bind:title="listing.name">
								<b-card-text>
									<b>Workspace Type: </b>{{listing.type}} <br> 
									<b>Maximum Capacity: </b>{{listing.capacity}} <br> 
									<b>Area: </b>{{listing.area}} <br>
									<b>Address: </b>{{listing.address}} #{{listing.unit}} Singapore {{listing.postal}} <br>
									<!-- <b>Lat: </b>{{listing.lat}} {{listing.long}} <br>
								</b-card-text>
								<a v-bind:href="url" class="btn btn-primary stretched-link">Explore</a>
							</b-card-body>
						</b-col>
					</b-row>
				</b-card>
			</div>`
		});

		Vue.component('im', {
			props: [''],
			template: `
			<div>
				<b-img src="https://picsum.photos/1024/400/?image=41" fluid alt="Responsive image"></b-img>
			</div>`
		})
	</script>

	<script>
		Vue.component("l-map", window.Vue2Leaflet.LMap);
		Vue.component("l-tile-layer", window.Vue2Leaflet.LTileLayer);
		Vue.component("l-marker", window.Vue2Leaflet.LMarker);

		var vm = new Vue({
			el: '#app',
			// components: {
			// 	"l-map": window.Vue2Leaflet.LMap,
			// 	"l-tile-layer": window.Vue2Leaflet.LTileLayer,
			// 	"l-marker": window.Vue2Leaflet.LMarker,
			// 	"l-popup": window.Vue2Leaflet.LPopup
			// },
			data() {
				return {
					zoom: 11,
					mapUrl: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
					attribution:"&copy; <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors",
					btngrpMargin: false,
					btngrpNoMargin: true,
					listings: null,
					type: null,
					address: "",
					selected: '*',
					selectedStartDate: "",
					selectedEndDate: "",
					listing_type: [
						{ value: "*", text: 'All Workspace Types' },
						{ value: "single", text: 'Single' },
						{ value: 'group', text: 'Group' },
						{ value: 'corporate', text: 'Corporate Function' },
					],
					mapcenter: "",
					// withPopup: "",
					markers: [],
					loaded: false,
				}
			},
			created: function () {
				this.mapcenter = [1.3521, 103.8198];
				// console.log(this.mapcenter);
				// this.withPopup = L.latLng(1.3501, 103.8108);
				this.listings = "";

				var listings = firebase.database().ref("listing/");
				allListings = "";
				listings.on("value", (snapshot) => {
					allListings = snapshot.val();
					this.listings = allListings;
					var tempLatLongList = [];

					Object.keys(allListings).forEach(function(key) {
						let listing = allListings[key];
						let latLong = L.latLng(listing.lat, listing.long);
						tempLatLongList.push(latLong);
					});
					this.markers = tempLatLongList;
					this.loaded = true;
					// console.log(this.markers);
				});
			},
			methods: {
				getAllListings: function () {
					var listings = firebase.database().ref("listing/");
					allListings = "";
					listings.on("value", (snapshot) => {
						allListings = snapshot.val();
					});
					return allListings;
				},
				displayListings: function () {
					var allListings = this.getAllListings();
					this.listings = allListings;
					for (listing in this.listings){
						var tempArray = L.latLng(listing.lat, listing.long);
						this.markers.push(tempArray);
					}
				},
				searchListings: function (){
					var allListings = this.getAllListings();
					var foundListing = [];
					var selectedType = this.selected;
					var selectedAddress = this.address;
					var selectedStart = Date.parse(this.selectedStartDate);
					var selectedEnd = Date.parse(this.selectedEndDate);
					// console.log(selectedType != "*" && selectedStart != "" && selectedEnd != "");
					if (selectedType != "*" && selectedStart != "" && selectedEnd != ""){
						for (listingNum in allListings){
							var listingStart = Date.parse(allListings[listingNum].start);
							var listingEnd = Date.parse(allListings[listingNum].end);
							var listingType = allListings[listingNum].type;
							// console.log(selectedStart < listingStart && listingEnd > selectedEnd);
							if (listingStart < selectedStart && listingEnd > selectedEnd && listingType == selectedType){
								foundListing.push(allListings[listingNum]);
							}
						}
					} 
					if (selectedType == "*" && selectedStart != "" && selectedEnd != ""){
						for (listingNum in allListings){
							var listingStart = Date.parse(allListings[listingNum].start);
							var listingEnd = Date.parse(allListings[listingNum].end);
							// console.log(selectedStart < listingStart && listingEnd > selectedEnd);
							if (listingStart < selectedStart && listingEnd > selectedEnd){
								foundListing.push(allListings[listingNum]);
							}
						}
					} 
					if (selectedType != "" && (selectedStart != "" || selectedEnd != "")){
						for (listingNum in allListings){
							if (allListings[listingNum].type == selectedType){
								foundListing.push(allListings[listingNum]);
							}
						}
					} else {
						for (listingNum in allListings){
							var listingStart = Date.parse(allListings[listingNum].start);
							var listingEnd = Date.parse(allListings[listingNum].end);
							// console.log(selectedStart < listingStart && listingEnd > selectedEnd);
							if (listingStart < selectedStart && listingEnd > selectedEnd){
								foundListing.push(allListings[listingNum]);
							}
						}
					}

					this.listings = foundListing;
					// console.log(foundListing);
					var tempLatLong = [];
					this.markers = [];
					for (listing in this.listings){
						var tempArray = L.latLng(listing.lat, listing.long);
						this.markers.push(tempArray);
					}
				},
				clearFilter: function (){
					this.displayListings();
					this.selected = '*';
					this.selectedStartDate = "";
					this.selectedEndDate = "";
				},
				displayMarker: function(marker){
					console.log(marker);
					return marker;
				}
				// displayMap: function (){
				// 	var mapCenter = new L.latLng(1.448344420992953, 103.78570071438713);
				// 	var map = new L.Map("map", {
				// 		center: mapCenter,
				// 		zoom: 16,
				// 		layers: new L.TileLayer(
				// 			"https://tile.openstreetmap.org/{z}/{x}/{y}.png"
				// 		),
				// 	});
					
				// 	var coordinatesMarker = new L.Marker(mapCenter);
				// 	var popupName = "Testing Center";
				// 	coordinatesMarker.bindPopup(popupName);
				// 	map.addLayer(coordinatesMarker);
				// 	map.invalidateSize();
				// }
			},
		})

	</script>

	<!-- <script type="text/javascript">
		var mapCenter = new L.latLng(1.4363507101204407, 103.7859041820477);
		var allListings = vm.data.listings;
		console.log(allListings);
		var map = new L.Map("map", {
			center: mapCenter,
			zoom: 16,
			layers: new L.TileLayer(
				"https://tile.openstreetmap.org/{z}/{x}/{y}.png"
			),
		});
		var coordinatesMarker = new L.Marker(mapCenter);
		var popupName = "Testing Center";
		coordinatesMarker.bindPopup(popupName);
		map.addLayer(coordinatesMarker);
		// console.log(this.listings);
		// for (listing in this.listings){
		// 	var lat = listing.lat;
		// 	var long = listing.long;
		// 	console.log(lat + " " + long);
		// 	var listingCoordinates = new L.LatLng(lat, long);
		// 	var coordinatesMarker = new L.Marker(listingCoordinates);
		// 	var popupName = listing.name;
		// 	coordinatesMarker.bindPopup(popupName);
		// 	map.addLayer(coordinatesMarker);
		// }
		map.invalidateSize(); 
	</script> -->


	<style lang="scss">
		/* .btngrp--margin {
            margin-left: 200px;
        }

        .btngrp--nomargin {
            margin-left: 0px;
        } */
		.navbar-toggle-color {
			background-color: grey;
		}
		#map {
			height: 500px;
			width: 100%
		}
	</style>

</body>

</html>