<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script type="text/javascript" src="vue.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

        <link type="text/css" rel="stylesheet" href="scss/custom.css" />

        <!-- Load Vue followed by BootstrapVue -->
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

        <!-- Load the following for BootstrapVueIcons support -->
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

        <!-- Firebase Source Files-->
        <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
        <!-- <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script> -->
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
        <!-- <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script> -->
        <script src="https://unpkg.com/vue-router@3.5.1/dist/vue-router.js"></script>

        <script>
            // Initialize Firebase
            var firebaseConfig = {
				apiKey: "AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc",
				authDomain: "just-clover-301402.firebaseapp.com",
				databaseURL:
					"https://just-clover-301402-default-rtdb.firebaseio.com",
				projectId: "just-clover-301402",
				storageBucket: "just-clover-301402.appspot.com",
				messagingSenderId: "999591178620",
				appId: "1:999591178620:web:5ed2ca489e1fee2836b4f9",
				measurementId: "G-4M8XE224JF",
			}
            firebase.initializeApp(firebaseConfig);
			// firebase.analytics();
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
        <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    </head>

    <body>
        <div id='app'>
            <div>
                <b-navbar toggleable="sm" type="light" variant="faded">
                    <b-navbar-brand href="index.html">
                        <b-img src="images\app\logo.JPG" height="70px" width="70px"></b-img> Huddle
                    </b-navbar-brand>
    
                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    
                    <b-collapse id="nav-collapse" is-nav>
                        <b-navbar-nav>
                        </b-navbar-nav>
    
                        <!-- Right aligned nav items -->
                        <b-navbar-nav class="ml-auto">
                            <b-nav-item href="index.html" active>Find a Space</b-nav-item>
                            <b-nav-item href="bookings.html">My Bookings</b-nav-item>
                            <!-- <b-nav-form>
                            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                          </b-nav-form> -->
    
    
                            <b-nav-item-dropdown right>
                                <!-- Using 'button-content' slot -->
                                <template #button-content>
                                    <em>User</em>
                                </template>
                                <b-dropdown-item href="#">Profile</b-dropdown-item>
                                <b-dropdown-item href="#">Sign Out</b-dropdown-item>
                            </b-nav-item-dropdown>
                        </b-navbar-nav>
                    </b-collapse>
                </b-navbar>
            </div>
    
            <div class=container>
                <b-carousel
                id="carousel-1"
                v-model="slide"
                :interval="4000"
                controls
                indicators
                background="#ababab"
                img-width="1024"
                img-height="480"
                style="text-shadow: 1px 1px 2px #333;"
                >

                <carou-slide v-for="image in images" v-bind:image="image" ></carou-slide>


                </b-carousel>

                <b-row>
                    <h2 class="mx-auto">{{name}}</h2>
                </b-row>
                <b-row>
                    <h6 class="mx-auto">{{address}} <a :href="'https://www.google.com/maps/search/?api=1&query='+encoded">(View in maps)</a></h6>
                </b-row>

                <b-row>
                    <b-col sm="12" md="6" lg="6">
                        <div>
                            <b-table-simple hover small caption-top responsive>
                              <b-thead head-variant="dark">
                                <b-tr>
                                  <b-th colspan='2'>Listing Details</b-th>
                                </b-tr>
                              </b-thead>
                              <b-tbody>
                                <b-tr>
                                  <b-th>Area</b-th>
                                  <b-td>{{area}}</b-td>
                                </b-tr>
                                <b-tr>
                                  <b-th>Type</b-th>
                                  <b-td>{{type}}</b-td>
                                </b-tr>
                                <b-tr>
                                  <b-th>Capacity</b-th>
                                  <b-td>{{capacity}}</b-td>
                                </b-tr>
                                <b-tr>
                                    <b-th>Price per day</b-th>
                                    <b-td>{{price}}</b-td>
                                </b-tr>
                              </b-tbody>
                            </b-table-simple>
                        </div>

                        <radar v-if="loaded" v-bind:data="reviewData"></radar>
                    </b-col>

                    <b-col sm="12" md="6" lg="6">
                        <b-form @reset="onReset" @submit="onSubmit">
                            <b-card>
                                <b-form-group id="input-group-1" label="Start Date:" label-for="datepicker">
                                    <b-form-datepicker
                                        dropdown
                                        id="datepicker-invalid"
                                        v-model="form.start_date"
                                        class="mb-2"
                                        :min="min"
                                        :state="validDateStart"
                                        placeholder="Choose a date"
                                        @input="hideAll"
                                    ></b-form-datepicker>
                                </b-form-group>
                                <b-form-group id="input-group-2" label="End Date:" label-for="datepicker">
                                    <b-form-datepicker
                                        dropdown
                                        id="datepicker-invalid2"
                                        v-model="form.end_date"
                                        class="mb-2"
                                        :min="min"
                                        :state="validDateEnd"
                                        placeholder="Choose a date"
                                        @input="hideAll"
                                    ></b-form-datepicker>
                                </b-form-group>
                                <b-form-group>
                                    <b-form-checkbox
                                        id="checkbox-1"
                                        v-model="form.is_recurring"
                                        name="checkbox-1"
                                    >
                                        Recurring Booking
                                    </b-form-checkbox>
                                </b-form-group>
                                <div v-if="form.is_recurring">
                                    <b-form-group>
                                        <b-form-select v-model="form.recurring_days" :options="options" multiple></b-form-select>
                                    </b-form-group>
                                </div>
                                <small>Final price will be calculated at checkout</small>
                            </b-card>
                            <br>
                            <b-form-row class="text-center">
                                <b-col>
                                    <b-button type="reset" variant="secondary">Clear</b-button>
                                </b-col>
                                <b-col>
                                    <b-button type="submit" variant="primary">Submit</b-button>
                                </b-col>
                            </b-form-row>
                          </b-form>

                    <b-col>
                </b-row>
            </div>
        </div>
    
    
    <script>
        Vue.component('radar', {
            extends: VueChartJs.Radar,
            props: ['data'],
            mounted () {
                this.renderChart(this.data, 
                {
                    responsive: true, 
                    maintainAspectRatio: false,
                    scale: {
                        angleLines: {
                            display: false
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    }
                }
                )
            }
            
        })

        Vue.component('carou-slide', {
            props: ['image'],
            template: `<b-carousel-slide
                        :img-src="'./images/listing/'+image"
                        ></b-carousel-slide>`
        })

    </script>
    
    <script>

    var vm = new Vue ({
        el: '#app',
        data: {
            min: '',
            loaded: false,
            slide: 0,
            listing_id: '',
            options: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            reviewData: {
                labels: ['Ambience', 'Amenities', 'Comfort', 'Location', 'Price', 'Service'],
                datasets: [
                    {
                        label: "Listing Review",
                        data: [70, 79, 80, 60, 70, 65],
                        backgroundColor: "rgba(127,199,255,0.2)",
                        borderColor: "rgba(127,199,255,1)",
                        pointBackgroundColor: "rgba(127,199,255,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(127,199,255,1)"
                    },
                    {
                        label: "Average Reviews",
                        data: [40, 60, 70, 50, 40, 50],
                        backgroundColor: "rgba(255,99,132,0.2)",
                        borderColor: "rgba(255,99,132,1)",
                        pointBackgroundColor: "rgba(255,99,132,1)",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(255,99,132,1)"
                        
                    }
                ]
            },
            name: '',
            address: '',
            area: '',
            capacity: '',
            type: '',
            price: '',
            encoded: '',
            images: ['1000/image1.png'],
            validDateStart: null,
            validDateEnd: null,
            form: {
                start_date: '',
                end_date: '',
                is_recurring: '',
                recurring_days: ''
            }
        },
        created: function() {
            const now = new Date();
            const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
            const minDate = new Date(today);
            minDate.setDate(minDate.getDate() + 1);
            this.min = minDate;

            let urlParams = new URLSearchParams(window.location.search)
            let listing = urlParams.get('listing')
            this.listing_id = listing
            this.displayListingDetails(listing);

        },
        computed: {
            loading: function() {
                return loaded;
            }
        },
        methods: {
            displayListingDetails: function(id) {
                var listing = firebase.database().ref("listing/"+id);
                listing.on("value", (snapshot) => {
                    if (snapshot.val() != null) {
                        details = snapshot.val();

                        this.name = details.name
                        this.images = details.images
                        this.address = details.address + " " + details.postal + " #" + details.unit
                        this.encoded = encodeURIComponent(details.address + details.postal)
                        this.area = details.area
                        this.capacity = details.capacity
                        this.type = details.type
                        
                        this.price = details.price
                        let reviews = details.reviews
                        this.reviewData.datasets[0].data = [details.reviews.ambience, details.reviews.amenities, 
                                                            details.reviews.comfort, details.reviews.location,
                                                            details.reviews.price, details.reviews.service]


                        this.loaded = true;
                    }

                });
            },
            hideAll() {
                if (this.form.start_date != "") {
                    this.validDateStart = null;
                }
                if (this.form.end_date != "") {
                    this.validDateEnd = null;
                }
            },
            checkInvalid() {
                if (this.form.start_date == "") {
                    this.validDateStart = false;
                }
                if (this.form.end_date == "") {
                    this.validDateEnd = false;
                }
                if (this.form.start_date > this.form.end_date) {
                    this.validDateEnd = false;
                }
            },
            onReset(event) {
                event.preventDefault();
                this.form.start_date = "";
                this.form.end_date = "";
                this.show = false;
                this.$nextTick(() => {
                    this.show = true;
                });
            },
            onSubmit(event) {
                event.preventDefault();
                this.checkInvalid();

                let submittedForm = this.form;

                let recurring = "";
                if (!submittedForm.is_recurring) {
                    submittedForm.recurring_days = "";
                } else {
                    recurring = submittedForm.recurring_days.join(",");
                }

                form_details = "listing_id=" + this.listing_id + "&start_date=" + submittedForm.start_date 
                    + "&end_date=" + submittedForm.end_date + "&is_recurring=" + submittedForm.is_recurring 
                    + "&recurring_days=" + recurring

                location.href = 'payment.html?' + form_details ;
            },
        },

    })

    </script>

    <style lang="scss">
        #carousel-1 {
            width: 70%;
            height: auto;
            margin: auto;
        }

    </style>

    </body>
</html>