<!doctype html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript" src="vue.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

	<!-- Load Vue followed by BootstrapVue -->
	<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>


	<!-- Load the following for BootstrapVueIcons support -->
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

	<link type="text/css" rel="stylesheet" href="scss/custom.css" />
	<!-- Firebase Source Files-->
	<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
	<!-- <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script> -->
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
	<!-- <script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script> -->

	<!-- <script defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc&callback=initMap">
	</script> -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<link href="scss/hover-min.css" rel="stylesheet">
	<link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
	<script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
	<script src="//unpkg.com/vue2-leaflet"></script>
	<script>
		// Initialize Firebase
		var firebaseConfig = {
			apiKey: "AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc",
			authDomain: "just-clover-301402.firebaseapp.com",
			databaseURL:
				"https://just-clover-301402-default-rtdb.firebaseio.com",
			projectId: "just-clover-301402",
			storageBucket: "just-clover-301402.appspot.com",
			messagingSenderId: "999591178620",
			appId: "1:999591178620:web:5ed2ca489e1fee2836b4f9",
			measurementId: "G-4M8XE224JF",
		}
		firebase.initializeApp(firebaseConfig);
	</script>
        <title>Huddle</title>

</head>

<body>
	<div id='app'>
		<huddlenavbar :check="true" :payment="false"></huddlenavbar>

		<!-------------------- SEARCH BAR-------------- -->
		<b-container class="mb-5">
			<b-container class="mt-4">
				<div>
					<div class="search p-4 mt-3">
						<h3 class="heading mt-5 text-center">Start Searching with Huddle</h3>
						<div class="search__address">
							<b-form-input class="search__address__input" placeholder="e.g. 12 Victoria Rd"
								v-model="address"></b-form-input>
						</div>
						<b-row class="mt-4 g-1 px-4 mb-5">
							<b-col lg="4">
								<div class="search__inputs">
									<b-form-select v-model="selected" :options="listing_type">
									</b-form-select>

								</div>
							</b-col>
							<b-col lg="4">
								<div class="search__inputs">
									<b-form-datepicker v-model="selectedStartDate" placeholder="Choose a Start Date">
									</b-form-datepicker>
								</div>
							</b-col>

							<b-col lg="4">
								<div class="search__inputs">
									<b-form-datepicker v-model="selectedEndDate" placeholder="Choose an End Date">
									</b-form-datepicker>
								</div>
							</b-col>
						</b-row>
						<b-row class="search__submit">
							<b-col sm="6" class="mb-2">
								<div>
									<input type='button' class="search__button btn-primary" v-on:click="searchListings"
										value="Go">
								</div>

							</b-col>
							<b-col sm="6">
								<div>
									<input type='button' class="search__button btn-warning" v-on:click="clearFilter"
										value="Clear">
								</div>
							</b-col>
						</b-row>
					</div>
				</div>
			</b-container>
		</b-container>

		<!-- --------------------Listing and Map Main Body------------ -->
		<b-container class="mb-5">
			<b-row>
				<b-col lg>
					<div v-if="loaded" id="map">
						<l-map :zoom="zoom" :center="center">
							<l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
							<l-marker v-for="marker in markersPage" :lat-lng="marker.position">
								<l-popup :content="marker.name">
								</l-popup>
							</l-marker>
						</l-map>
					</div>
				</b-col>
				<b-col lg>
					<b-container class="listingresults">
						<b-row>
							<b-col>
								<div class="listingresults__pagination">
									
									<b-pagination align="center" v-model="currentPage" :total-rows="rows" :per-page="perPage"
									aria-controls="my-table"></b-pagination>
								</div>
								
									
									<listings data-aos="zoom-in" v-for="listing in listingsPage" v-bind:listing="listing"
									v-bind:images="'./images/listing/' + listing.images[0]"
									v-bind:url="'listingdetails.html?listing=' + listing.number">
								</listings>
						
						</b-col>
					</b-row>
					</b-container>
				</b-col>
			</b-row>
		</b-container>


	</div>

	<script src="navbar.js"></script>
	<script>



		Vue.component('listings', {
			props: ['listing', 'images', 'url'],
			template: `
			
			<div class="listingresults__card">
				<b-card no-body >
					<b-card-img :src="images" top></b-card-img>
					<div class="listingresults__card__overlay"><a class="listingresults__card__overlay__link" v-bind:href="url">Explore</a></div>
					<b-card-body>
						<b-card-title>{{listing.address}} #{{listing.unit}} Singapore {{listing.postal}}</b-card-title>
						<b-card-text>
										<b>Workspace: </b>{{listing.type}} <br> 
										<b>Capacity: </b>{{listing.capacity}} <br> 
										<b>Area: </b>{{listing.area}} <br>
									</b-card-text>
						</b-card-body>
     			 </b-card>
			</div>`
		});

		Vue.component('im', {
			props: [''],
			template: `
			<div>
				<b-img src="https://picsum.photos/1024/400/?image=41" fluid alt="Responsive image"></b-img>
			</div>`
		})
	</script>

	<script>
		var { LMap, LTileLayer, LMarker, LPopup } = Vue2Leaflet;
		var vm = new Vue({
			el: '#app',
			components: { LMap, LTileLayer, LMarker, LPopup },
			data: {
				perPage: 3,
				currentPage: 1,
				btngrpMargin: false,
				btngrpNoMargin: true,
				listings: null,
				type: null,
				address: "",
				selected: '*',
				selectedStartDate: "",
				selectedEndDate: "",
				listing_type: [
					{ value: "*", text: 'All Workspace Types' },
					{ value: "Single", text: 'Single' },
					{ value: 'Group', text: 'Group' },
					{ value: 'Corporate', text: 'Corporate Function' },
				],
				markers: [],
				loaded: false,
				zoom: 11,
				center: L.latLng(1.3521, 103.8198),
				url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
				attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
				marker: L.latLng(1.3501, 103.8108),
			},
			computed: {
				rows() {
					return Object.keys(this.listings).length
				},
				listingsPage() {
					return Object.entries(this.listings).slice((this.currentPage - 1) * this.perPage, (this.currentPage - 1) * this.perPage + this.perPage).map(entry => entry[1])
				},
				markersPage() {
					return Object.entries(this.markers).slice((this.currentPage - 1) * this.perPage, (this.currentPage - 1) * this.perPage + this.perPage).map(entry => entry[1])
				}

			},
			created: function () {
				AOS.init();
				this.listings = "";

				var listings = firebase.database().ref("listing/");
				allListings = "";
				listings.on("value", (snapshot) => {
					allListings = snapshot.val();
					this.listings = allListings;
					var tempLatLongList = [];

					Object.keys(allListings).forEach(function (key) {
						let listing = allListings[key];
						let latLong = L.latLng(listing.lat, listing.long);
						tempLatLongList.push({ position: latLong, name: listing.name });
					});
					this.markers = tempLatLongList;
					this.loaded = true;
				});
			},
			methods: {
				getAllListings: function () {
					var listings = firebase.database().ref("listing/");
					allListings = "";
					listings.on("value", (snapshot) => {
						allListings = snapshot.val();
					});
					return allListings;
				},
				displayListings: function () {
					var allListings = this.getAllListings();
					this.listings = allListings;
					console.log(this.listings);

					this.markers = [];
					for (listing in this.listings) {
						console.log(listing)
						var tempArray = L.latLng(this.listings[listing].lat, this.listings[listing].long);
						this.markers.push({ position: tempArray, name: listing.name });
					}
				},
				searchDate: function (listingsArray, selectedStart, selectedEnd) {
					var filteredListings = [];
					if (selectedStart == "" || selectedEnd == "") {
						return listingsArray;
					} else {
						for (listing in listingsArray) {
							var listingStart = Date.parse(this.listings[listing].start);
							var listingEnd = Date.parse(this.listings[listing].end);
							if (listingStart < selectedStart && listingEnd > selectedEnd) {
								filteredListings.push(this.listings[listing]);
							} else {
								filteredListings.push(this.listings[listing]);
							}
						}
						return filteredListings;
					}
				},
				searchAddress: function (listingArray, selectedAddress) {
					var filteredListings = [];
					for (listing in listingArray) {
						var listingNum = listingArray[listing].number;
						var listingAddress = this.listings[listingNum].address;
						var listingName = this.listings[listingNum].name;
						if (listingAddress.toLowerCase().indexOf(selectedAddress.toLowerCase()) != -1 ||
							listingName.toLowerCase().indexOf(selectedAddress.toLowerCase()) != -1) {
							filteredListings.push(this.listings[listingNum]);
						}
					}
					return filteredListings;
				},
				searchType: function (listingArray, selectedType) {
					var filteredListings = [];
					console.log(listingArray);
					if (selectedType == "*") {
						return listingArray;
					}
					for (listing in listingArray) {
						var listingNum = listingArray[listing].number;
						console.log(listingNum);
						var listingType = this.listings[listingNum].type;
						if (listingType.toLowerCase() == selectedType.toLowerCase()) {
							filteredListings.push(this.listings[listingNum]);
						}
					}
					return filteredListings;
				},
				searchListings: function () {
					this.displayListings();
					this.listings = this.getAllListings();

					var foundListing = [];
					var selectedType = this.selected;
					var selectedAddress = this.address;
					var selectedStart = "";
					var selectedEnd = "";
					if (this.selectedStartDate != "") {
						selectedStart = Date.parse(this.selectedStartDate);
					}
					if (this.selectedEndDate != "") {
						selectedEnd = Date.parse(this.selectedEndDate);
					}

					var filteredDate = this.searchDate(this.listings, selectedStart, selectedEnd);
					var filteredAddress = this.searchAddress(filteredDate, selectedAddress);
					var filteredType = this.searchType(filteredAddress, selectedType);

					this.listings = filteredType;
					this.markers = [];

					console.log(this.listings);
					for (idx in this.listings) {
						var tempArray = L.latLng(this.listings[idx].lat, this.listings[idx].long);
						this.markers.push({ position: tempArray, name: this.listings[idx].name });
					}


				},

				clearFilter: function () {
					this.displayListings();
					this.selected = '*';
					this.selectedStartDate = "";
					this.selectedEndDate = "";
				}
			},
		})

	</script>


	<style lang="scss">
		.navbar-toggle-color {
			background-color: grey;
		}

		#map {
			height: 500px;
			width: 100%
		}
	</style>

</body>

</html>