<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script type="text/javascript" src="vue.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

        
        <!-- Load Vue followed by BootstrapVue -->
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        
        <!-- Load the following for BootstrapVueIcons support -->
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
        
        <link type="text/css" rel="stylesheet" href="scss/custom.css" />
        <!-- Firebase Source Files-->
        <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
        <link href="scss/hover-min.css" rel="stylesheet">
        
        <script>
            // Initialize Firebase
            var firebaseConfig = {
                apiKey: "AIzaSyDhBjd0INJO6MpP_SX3vJJFRQzgrc1yCbc",
                authDomain: "just-clover-301402.firebaseapp.com",
                databaseURL:
                    "https://just-clover-301402-default-rtdb.firebaseio.com",
                projectId: "just-clover-301402",
                storageBucket: "just-clover-301402.appspot.com",
                messagingSenderId: "999591178620",
                appId: "1:999591178620:web:5ed2ca489e1fee2836b4f9",
                measurementId: "G-4M8XE224JF",
            };
            firebase.initializeApp(firebaseConfig);
	    </script>


        <title>Huddle</title>

    </head>

    <body>
        <div id='app'>
            <huddlenavbar :check="false" :payment="false"></huddlenavbar>

            <!-- ---------------------------My Bookings--------------------------- -->
            <div id="moveTitle">
                <h2 id="title">My Bookings</h2>
            </div>

            <div v-if="bookings !== null">
                <b-card no-body class="bookings" v-for="booking in finalBookings" id="move">
                    <b-row no-gutters>
                        <b-col lg="6">
                            <b-card-img fluid :src=" 'images/listing/' + booking['image']"></b-card-img>
                        </b-col>
                        <b-col lg="6">
                            <b-card-body :title="booking['name']">
                                <b-card-text>
                                    {{booking["address"]}}<br>
                                    #{{booking["unit"]}}<br><br>    
                                    Date: {{booking["startDate"]}} to {{booking["endDate"]}} <br>
                                    <div v-if="booking['recurringDays'].length == 1 && booking['recurringDays'][0]==''">
                                        Recurring Days:
                                        <span v-for="day in booking['recurringDays']">
                                            {{day}}; 
                                        </span> <br>
                                        Booked Dates:
                                        <span v-for="date in booking['recurringDates']">
                                            {{date}}; 
                                        </span>
                                    </div>
                                    <br>
                                    Price: ${{booking["totalPrice"]}}
                                </b-card-text>
                                <div class="bookings__cancel">

                                    <b-button id="cancel" v-on:click="cancel(booking['bookingID'])">
                                        Cancel Booking
                                    </b-button>
                                </div>
                            </b-card-body>
                        </b-col>
                    </b-row>
                </b-card>
                
            </div>

            <div v-else>
                <h5 id="noBookText">You don't have any bookings yet!</h5>
            </div>

        </div>

        <script src="navbar.js"></script>

        <script>
            if (sessionStorage.getItem("userId") == null){
				location.replace("index.html");
			};

            var vm = new Vue({
                el: '#app',
                data: {
                    bookings: null,
                    allListings: null,
                    finalBookings: null,
                },
                created: function () {
                    this.listings = "";
    
                    var listings = firebase.database().ref("listing/");
                    allListings = "";
                    listings.on("value", (snapshot) => {
                        allListings = snapshot.val();
                        this.listings = allListings;

                        this.loaded = true;

                    });
                    this.userData();
                },
                methods: {
                    userData: function() {
                        
                        var userID = sessionStorage.getItem("userId");

                            var bookings = firebase.database().ref("booking").orderByChild("user").equalTo(userID).on("value", (snapshot) => {

                            var foundBooking = [];
                            
                            for (j in snapshot.val()) {
                                var bookingID = j;
                                var obj = snapshot.val()[bookingID];

                                var startDate = obj.startDate;
                                var endDate = obj.endDate;
                                var totalPrice = obj.totalPrice;
                                var listing_id = obj.listing_id;
                                var recurringDates = obj.dates;
                                var recurringDays = obj.recurring_days;

                                foundBooking.push({bookingID, listing_id, startDate, endDate, totalPrice, recurringDates, recurringDays});
                            };

                            if(foundBooking.length > 0) {
                                
                                this.bookings = foundBooking;

                                var finalBookings = [];

                                this.$nextTick(() => {
                                    this.getListing();
                                    for (b of this.bookings) {
                                        for (i of this.allListings) {
                                            if (b.listing_id === i.listing_id) {
                                                
                                                // b
                                                var bookingID = b.bookingID;
                                                var startDate = b.startDate;
                                                var endDate = b.endDate;
                                                var totalPrice = b.totalPrice;
                                                var recurringDays = b.recurringDays;
                                                var recurringDates = b.recurringDates;

                                                // i
                                                var name = i.name;
                                                var address = i.address;
                                                var unit = i.unit;
                                                var postal = i.postal;
                                                var capacity = i.capacity;
                                                var image = i.image;
                                                
                                                finalBookings.push({bookingID, name, address, unit, postal, capacity, image, startDate, endDate, totalPrice, recurringDays, recurringDates});
                                            }
                                        }
                                    }
                                    this.finalBookings = finalBookings;

                                    this.$nextTick(() => {
                                        this.animate();
                                    })
                                })
                                
                            } else {
                                this.$nextTick(() => {
                                    this.animate2();
                                })
                            }
                            
                        })
                    },

                    getListing() {
                        if (this.bookings !== null) {

                            var listings = firebase.database().ref("listing").on("value", (snapshot) => {

                                var allListings = [];

                                for (i in snapshot.val()) {
                                    var listingNum = i;
                                    var obj = snapshot.val()[listingNum];

                                    var name = obj.name;
                                    var address = obj.address;
                                    var unit = obj.unit;
                                    var postal = obj.postal;
                                    var capacity = obj.capacity;
                                    var image = obj.images[0];

                                    allListings.push({listing_id: i, name, address, unit, postal, capacity, image});
                                }

                                this.allListings = allListings;
                                
                            })
                        }
                    },
                    animate() {
                        gsap.fromTo("#moveTitle", {opacity: 0}, {opacity: 1, duration: 0.7});
                        gsap.fromTo("#move", {opacity: 0, x: -300}, {opacity: 1, x: 0, duration: 1, stagger: 0.5}).delay(0.5);
                    },
                    animate2() {
                        gsap.fromTo("#noBookText", {opacity: 0}, {opacity: 1, duration: 0.7});
                    },
                    cancel(bookingID) {
                        var div = document.createElement("div");
                        if(confirm("Would you like to cancel your booking?")) {
                            let ref = firebase.database().ref("booking/" + bookingID);
                            ref.remove();
                            window.location.reload(false);
                        }
                    }
                  
                }
            })
        </script>
    </body>
</html>